asyncio==3.4.3
Flask==3.0.0
Flask-Cors==4.0.0
langchain
langchain-openai
beautifulsoup4
jmespath
load_dotenv
lark
pinecone-client
langchain_pinecone
pydash==7.0.7
langchain-community
langchainhub
tavily-python
