asyncio==3.4.3
Flask==3.0.0
Flask-Cors==4.0.0
langchain==0.1.20
langchain-openai==0.1.6
beautifulsoup4==4.12.3
jmespath==1.0.1
load_dotenv==0.1.0
lark==1.1.9
pinecone-client==3.2.2
langchain_pinecone==0.1.0
pydash==7.0.7
langchain-community==0.0.38
langchainhub==0.1.15
tavily-python==0.3.3
pymongo==4.8.0
bcrypt